<div class="modal-header">
    <h4 class="modal-title">Noticias Normais</h4>

  </div>
  <div class="modal-body">
      <input class="new-todo" placeholder="Titulo" [(ngModel)]="newTitlen"  autofocus>
      <input class="new-todo" placeholder="Imagem" [(ngModel)]="newImagemn"  autofocus>
      <div placeholder="Descrição" [froalaEditor] [(froalaModel)]="newDescn"></div>
      <div [froalaView]="newDescn"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light destroy" (click)="addTitleN()">Cadastrar</button>
  </div>