table.table-background {
    background-color: #E4E4E4;
}
p{
    text-align: center; 
    color:#050737; 
    font-family:Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size:16px;
}
p.desc {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
ul.first-item {
    display: none;
}
.conter-move-up button {
    background: none;
    border: none;
    font-size: 10px;
    float: right;
    margin-top: 4px;
    margin-right: 20px;
    color: #03A9F4;
}
.conter-move-up ul {
    background: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 25px;
    border: 1px solid #cac7c7;
    box-shadow: 2px 2px 1px #cecccc;
    list-style-type: none;

}
