<div class="modal-header">
    <h4 class="modal-title">Destaques</h4>
  
  </div>
  <div class="modal-body">
      <input class="new-todo" placeholder="Titulo" [(ngModel)]="newTitlea"  autofocus>
      <input class="new-todo" placeholder="Imagem" [(ngModel)]="newImagema"  autofocus>
      <div placeholder="Descrição" [froalaEditor] [(froalaModel)]="newDesca"></div>
      <div [froalaView]="newDesca"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light destroy" (click)="addTitleA()">Cadastrar</button>
  </div>