
    <div class="modal-header" >
      <h4 class="modal-title">Destaques</h4>
    </div>
    <div class="modal-body">
        <input class="new-todo" placeholder="Titulo" [(ngModel)]="newTitlev"  autofocus>
        <input class="new-todo" placeholder="Imagem" [(ngModel)]="newImagemv"  autofocus>
        <div placeholder="Descrição" [froalaEditor] [(froalaModel)]="newDescv"></div>
        <div [froalaView]="newDescv"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light destroy" (click)="addTitleV()">Cadastrar</button>
    </div>
