<div class="modal-header">
    <h4 class="modal-title">Destaques</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input class="new-todo" placeholder="Titulo" [(ngModel)]="newTitlem"  autofocus>
    <div placeholder="Descrição" [froalaEditor] [(froalaModel)]="newDescm"></div>
      <div [froalaView]="newDescm"></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light destroy" (click)="addTitleM()">Cadastrar</button>
  </div>