/* You can add global styles to this file, and also import other style files */
body {
    background: #ececec;
}
section{
    width: 100%;
}
.conter-buttons {
    float: left;
    width: 100%;
} 
button.btn.btn-outline-primary.mb-1:hover {
    box-shadow: none;
    border: none;
}
button.btn.btn-outline-primary.mb-1 {
    width: 25%;
    border-radius: 12px;
    line-height: 120px;
    background: white;
    box-shadow: 10px 15px 30px 0px #cac8c8;
    margin-right: 60px;
    margin-top: 60px;
    color: black;
    font-weight: bold;
}
li {
    background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244,67,54,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(244,67,54,.2);
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 50px;
}
input {
    width: 100%;
    display: table-row;
    border-radius: 25px;
    border: 1px solid #c7c4c4;
    line-height: 40px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 20px;
}